<li>
  <div class="content"><%= todo.content %></div>
  <div class="meta">Status = <%= todo.completed %></div>
  <span class="meta">Posted <span class="author">by <%= link_to todo.user.name, todo.user %></span> <span class="timestamp"><%= time_ago_in_words(todo.created_at) %> ago.</span>
  <div><%= link_to "Completed", todo, method: :put %>
</li>
