<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - Jobberuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        Jobber
      </div>
      <nav>
        <li><% link_to "Home", "#" %></li>
        <li><% link_to "Help", "#" %></li>
        <li><% link_to "Log in", "#" %></li>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
